@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
button,
summary,
label {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 100%;
}

.title_section {
  font-size: 18px;
}

/* header */

#header_menu {
  display: flex;
  margin: 33px auto 70px;
  justify-content: space-between;
}

#menu {
  display: flex;
  width: 33%;
  justify-content: space-between;
}

li {
  list-style: none;
  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 100%;
  color: #121212;
}

li:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 8px;
  transition: 0.3s;
  cursor: pointer;
}

#header_intro {
  position: relative;
  margin-bottom: 150px;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  width: 62%;
  margin-bottom: 30px;
}

#head_bg {
  width: 100%;
  object-fit: cover;
}

#head_info {
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  color: #ffffff;
  width: 28%;
  line-height: 1.5;
}

/* about us */

#text_about {
  font-size: 45px;
  margin: 30px 0;
  line-height: 1.5;
  width: 71%;
}

#button_see_services {
  width: 255px;
  height: 67px;
  background-color: #ad1818;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

/* projects */

#projects {
  margin-top: 150px;
}

.project_card {
  margin: 30px 0;
}

.title_card {
  margin: 20px 0;
  font-size: 30px;
}

.picture_card {
  width: 100%;
  object-fit: cover;
}

summary {
  cursor: pointer;
  color: #ad1818;
  list-style: none;
  font-size: 20px;
}

.projects_info {
  font-size: 18px;
  width: 70%;
  margin: 20px 0;
  line-height: 1.5;
}

#see_all_prj {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 153px;
  color: #ad1818;
  font-size: 30px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  cursor: pointer;
  margin: 100px 0;
}

#see_all_prj:hover {
  background-color: #ad1818;
  color: white;
  transition: 0.3s;
}

#show_projects {
  display: none;
}

.hidden_projects {
  display: none;
}

#show_projects:checked ~ .hidden_projects {
  display: block;
}

/* services */

#services_section {
  background-color: #121212;
}

#title_serv {
  color: white;
  margin-bottom: 34px;
  padding-top: 150px;
}

.service_card {
  margin-bottom: 60px;
}

.img_service {
  width: 100%;
  object-fit: cover;
}

.service_info {
  color: white;
  margin-top: 16px;
  font-size: 30px;
}

#down_bg {
  width: 100%;
  object-fit: cover;
  margin-top: 90px;
}

#down_wrapper {
  position: relative;
}

#down_info {
  position: absolute;
  left: 125px;
  bottom: 60px;
  color: white;
  font-size: 30px;
  width: 22%;
  line-height: 1.5;
}
